<div class="filter-container">
  <div class="filter-group">
    <mat-form-field appearance="fill">
      <mat-label>Launch Year</mat-label>
      <mat-select [(ngModel)]="selectedYear">
        <mat-option *ngFor="let year of years" [value]="year">
          {{ year }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Launch Success</mat-label>
      <mat-select [(ngModel)]="launchSuccess">
        <mat-option *ngFor="let option of boolOptions" [value]="option.value">
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Landing Success</mat-label>
      <mat-select [(ngModel)]="landSuccess">
        <mat-option *ngFor="let option of boolOptions" [value]="option.value">
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="button-group">
    <button mat-raised-button color="primary" (click)="onFilter()">Apply Filter</button>
    <button mat-stroked-button color="primary" (click)="onReset()">Reset Filters</button>
  </div>
</div>
